
body
{
    background-color: #1d1f21;
}
.sign
{
margin-top: 50px;
    background-color: white;
}
.subbtn
{
    background-color:  #1d1f21;
    border-color:  #1d1f21;
    color: white;
    margin-top: 20px;
}

.subbtn:hover
{
    color: white !important;
}